@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");

#app {
  background-position: center !important;
}

#app #sortable,
#app main {
  padding: 20px;
}

#config-buttons {
  bottom: 50%;
  transform: translateY(50%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) -1px 1px 1px 0,
    rgba(255, 255, 255, 0.1) 0 -1px 1px 0, rgba(0, 0, 0, 0.1) -1px 0 20px 5px;
  background-color: #3d3846;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#config-buttons a {
  background: none;
}

#config-buttons a svg {
  transition: all 0.1s ease-in-out;
}

#config-buttons a:hover svg {
  transform: scale(1.1);
}

.tooltip {
  bottom: unset !important;
}

.searchform {
  box-shadow: rgba(0, 0, 0, 0.05) -1px -1px 5px 0,
    rgba(0, 0, 0, 0.15) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
  border-radius: 12px;
  background-image: none;
  border: none;
  outline: none;
  background-color: #3d3846 !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.searchform button {
  background: #241f31 !important;
  color: #f6f5f4 !important;
}

.searchform input {
  background: #3d3846;
  color: #f6f5f4;
}

.searchform select {
  background: #241f31 !important;
  border-right: 1px solid #3d3846 !important;
  color: #f6f5f4 !important;
}

.item {
  box-shadow: rgba(0, 0, 0, 0.05) -1px -1px 5px 0,
    rgba(0, 0, 0, 0.15) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
  border-radius: 12px;
  background-image: none;
  border: none;
  outline: none;
  height: 100px;
  width: 300px;
  margin: 1.25rem;
  padding: 1rem 55px 1rem 1rem;
  transition: all 0.25s ease-in-out;
  transition-property: transform, box-shadow, background-color;
  background-color: #3d3846 !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.item:after {
  height: 100px;
  opacity: 0.2;
}

.item:hover {
  transform: scale(1.1);
  background-color: rgba(69, 71, 90, 0.8) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 60px 40px -7px !important;
}

.item .svg-inline--fa {
  height: 100px;
  vertical-align: middle;
  opacity: 0.2;
}

@media only screen and (max-width: 750px) {
  .item {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #config-buttons {
    display: none;
  }
}

.details {
  padding: 0 0.5rem;
}

.app-icon {
  filter: drop-shadow(1px 1px 2px rgba(10, 0, 20, 0.1));
}

.livestats-container {
  margin-top: 0.5rem;
}

.livestats-container .livestats .title {
  margin-bottom: 3px;
}

.livestats-container .livestats li {
  padding-right: 1rem;
}

.livestats-container strong {
  font-weight: 500 !important;
  padding: 0 2px;
}

.details > .title {
  font-weight: 300;
  font-size: 1rem !important;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.25s ease-in-out;
}

.light-mode #app .item,
.light-mode #app .searchform {
  background-color: #f6f5f4 !important;
  color: #3d3846 !important;
}

.dark-mode #app .item,
.dark-mode #app .searchform {
  background-color: #3d3846 !important;
  color: #f6f5f4 !important;
}

.light-mode #app .details > .title,
.light-mode #app .searchform input {
  color: black !important;
}

.dark-mode #app .details > .title,
.light-mode #app .searchform input {
  color: #f6f5f4 !important;
}
