@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");

#app {
  background-position: center !important;
}

#app #sortable,
#app main {
  padding: 20px;
}

#config-buttons {
  bottom: 50%;
  transform: translateY(50%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) -1px 1px 1px 0,
    rgba(255, 255, 255, 0.1) 0 -1px 1px 0, rgba(0, 0, 0, 0.1) -1px 0 20px 5px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#config-buttons a {
  background: none;
}

#config-buttons a svg {
  transition: all 0.1s ease-in-out;
}

#config-buttons a:hover svg {
  transform: scale(1.1);
}

.tooltip {
  bottom: unset !important;
}

.searchform {
  box-shadow: rgba(0, 0, 0, 0.05) -1px -1px 5px 0,
    rgba(0, 0, 0, 0.15) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
  border-radius: 12px;
  background-image: none;
  border: none;
  outline: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.searchform select {
  border-right: 1px !important;
}

.item {
  border-radius: 12px;
  background-image: none;
  border: none;
  outline: none;
  height: 100px;
  width: 300px;
  margin: 1.25rem;
  padding: 1rem 55px 1rem 1rem;
  transition: all 0.25s ease-in-out;
  transition-property: transform, box-shadow, background-color;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.item:after {
  height: 100px;
  opacity: 0.2;
}

.item:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 60px 40px -7px !important;
}

.item .svg-inline--fa {
  height: 100px;
  vertical-align: middle;
  opacity: 0.2;
}

.details {
  padding: 0 0.5rem;
}

.app-icon {
  filter: drop-shadow(1px 1px 2px rgba(10, 0, 20, 0.1));
}

.livestats-container {
  margin-top: 0.5rem;
}

.livestats-container .livestats .title {
  margin-bottom: 3px;
}

.livestats-container .livestats li {
  padding-right: 1rem;
}

.livestats-container strong {
  font-weight: 500 !important;
  padding: 0 2px;
}

.details > .title {
  font-weight: 350;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.25s ease-in-out;
}

/* Media query for smaller screens */
@media only screen and (max-width: 750px) {
  #config-buttons,
  .tooltip,
  .searchform {
    display: none !important;
  }

  .details > .title {
    font-size: 0.9rem !important;
  }

  .item {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .item:hover {
    transform: none !important;
    box-shadow: none !important;
  }
}

/***** dark and light mode *****/
/*** background-color ***/
/* dark mode */
.dark-mode #app .item,
.dark-mode #config-buttons,
.dark-mode #app .searchform,
.dark-mode #app .searchform input {
  background-color: #3d3846 !important;
}

.dark-mode #app .searchform select,
.dark-mode #app .searchform button {
  background-color: #5e5c64 !important;
}

/* light mode */
.light-mode #app .item,
.light-mode #config-buttons,
.light-mode #app .searchform,
.light-mode #app .searchform input {
  background-color: #deddda !important;
}

.light-mode #app .searchform select,
.light-mode #app .searchform button {
  background-color: #9a9996 !important;
}

/*** color ***/
/* dark mode */
.dark-mode #app .item > .link,
.dark-mode #config-buttons a svg {
  color: #deddda !important;
}

.dark-mode #app .searchform input,
.dark-mode #app .searchform select,
.dark-mode #app .searchform button,
.dark-mode #app .details > .title {
  color: white !important;
}

/* light mode */
.light-mode #app .item > .link,
.light-mode #config-buttons a svg {
  color: #3d3846 !important;
}

.light-mode #app .searchform input,
.light-mode #app .searchform select,
.light-mode #app .searchform button,
.light-mode #app .details > .title {
  color: black !important;
}
