@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");
 
#app {
  background-position: right;
}

#app #sortable,
#app main {
  padding: 20px;
}

#config-buttons {
  bottom: 50%;
  transform: translateY(50%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) -1px 1px 1px 0, rgba(255, 255, 255, 0.1) 0 -1px 1px 0,
    rgba(0, 0, 0, 0.1) -1px 0 20px 5px;
  background-color: rgba(40, 40, 40, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#config-buttons a {
  background: none;
}

#config-buttons a svg {
  transition: all 0.1s ease-in-out;
  color: rgba(255, 255, 255, 0.5);
}

#config-buttons a:hover svg {
  transform: scale(1.1);
  color: rgba(137, 180, 250, 0.95);
}
 
.black {
  color: rgb(186, 194, 222) !important;
}

.tooltip {
  bottom: unset !important;
}

.searchform {
  box-shadow: rgba(0, 0, 0, 0.05) -1px -1px 5px 0, rgba(0, 0, 0, 0.15) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
  border-radius: 12px;
  background-image: none;
  border: none;
  outline: none;
  background-color: rgba(69, 71, 90, 0.7) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.searchform button {
  background: rgb(137, 180, 250) !important;
  color: rgb(224, 228, 243) !important;
}

.searchform input {
  background: rgb(108, 112, 134) !important;
  color: rgb(205, 214, 244) !important;
}

.searchform select {
  background: rgb(108, 112, 134) !important;
  border-right: 1px solid rgb(108, 112, 134) !important;
  color: rgb(224, 228, 243) !important;
}
 
.item {
  box-shadow: rgba(0, 0, 0, 0.05) -1px -1px 5px 0, rgba(0, 0, 0, 0.15) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
  border-radius: 12px;
  background-image: none;
  border: none;
  outline: none;
  height: 100px;
  width: 300px;
  margin: 1.25rem;
  padding: 1rem 55px 1rem 1rem;
  transition: all 0.25s ease-in-out;
  transition-property: transform, box-shadow, background-color;
  background-color: rgba(69, 71, 90, 0.7) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.item:after {
  height: 100px;
  opacity: 0.2;
}

.item:hover {
  transform: scale(1.1);
  background-color: rgba(69, 71, 90, 0.8) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 60px 40px -7px !important;
}

.item .svg-inline--fa {
  height: 100px;
  vertical-align: middle;
  opacity: 0.2;
}
 
@media only screen and (max-width: 750px) {
  .item {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #config-buttons {
    display: none;
  }
}
 
.details * {
  color: rgb(137, 180, 250) !important;
}
.details {
  padding: 0 0.5rem;
}
 
.app-icon {
  filter: drop-shadow(1px 1px 2px rgba(10, 0, 20, 0.1));
}
 
.livestats-container {
  margin-top: 0.5rem;
}

.livestats-container .livestats .title {
  margin-bottom: 3px;
}

.livestats-container .livestats li {
  padding-right: 1rem;
}
 
.livestats-container strong {
  font-weight: 500 !important;
  padding: 0 2px;
}
 
.details > .title {
  font-weight: 800;
  font-size: 1.3rem !important;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  text-shadow: rgba(10, 0, 60, 0.25) 1px 0 5px;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 2px rgba(10, 0, 60, 0.25);
  transition: all 0.25s ease-in-out;
}

.item:hover .details > .title {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 5px rgba(10, 0, 60, 0.2);
}
 
